/**
 * Stylesheet for header
 *
 * Author: Mathias Beke
 * Date:   March 2015
 *
 */

.nav-wrapper {
    background-color: $color-blue;
    
    .nav-container {
        max-width: $max-content-width;
        margin: 0 auto;
    }
    
    ul {
        
        li {
        }
        
        a {
            margin-right: 10px;
            
        }
    }
}